@import "mixins";
@import "variables";

section {
  padding: 60px 0;
}

.clear {
  .clearfix;
}

.hide {
  display: none;
}

h5 {
  font-size: 1.10rem;
  font-weight: 500;
}

p {
  font-size: 14px;
  margin-bottom: 0;
}
.bold{
  font-weight:bold;
}
.form-group {
  &.small-width {
    max-width: 140px;
    float: left;
    margin-right: 20px;
  }
}

.green-text {
  color: green !important;
}

.red-text {
  color: red !important;
}

.text-color-main {
  color: @main-color;
}

.text-color-main-dark {
  color: @main-color-dark;
}

.text-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate {
  /* Add this as a mixin !! */
  /* Safari */
  -webkit-transform: rotate(-45deg);
  /* Firefox */
  -moz-transform: rotate(-45deg);
  /* IE */
  -ms-transform: rotate(-45deg);
  /* Opera */
  -o-transform: rotate(-45deg);
}

.card-body {
  padding: 1.0rem;
}

label.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 3px;
}

footer.main-footer {
  padding: 50px 0 0;
  overflow-x: hidden;
}

footer.main-footer .copyrights {
  margin-top: 0;
}

.welcome-nav-msg {
  padding: 14px 10px 0;
  font-size: 14px;
}

.accordianContent{
  display:none;
  border:1px solid #ccc;
  padding:5px 10px;
  border-radius: 5px;
  background:#fff;
}

//******** FORMS ***********

.form-style .form-group {
  margin-bottom: 20px;
}

.form-style label {
  display: block;
  padding-left: 10px;
  color: #656565;
  font-family: "Open Sans", sans-serif;
}

.form-style input {
  width: 100%;
  display: block;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #eee;
  outline: none;
}

.form-style input:focus {
  border-color: #4CB8C4;
}

.form-style input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #aaa;
  font-style: italic;
  font-size: 0.9em;
}

.form-style input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #aaa;
  font-style: italic;
  font-size: 0.9em;
}

.form-style input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #aaa;
  font-style: italic;
  font-size: 0.9em;
}

// ****** WARNING *****/
.warning-msg{
    color: #383838;
    padding: 8px 10px;
    margin-bottom: 10px;
    &.danger{
    background: #f79898;
    border: 1px solid #e62d2d;
    }
    &.warning{
      background: #fff3af;
      border: 1px solid #f9d95f;
    }
}
