@import "mixins";

.clear {
    .clearfix;
 }

p{
	font-size:14px;
	margin-bottom:0rem;
}

.form-group{
	&.small-width{
		max-width:140px;
		float:left;
		margin-right:20px;
	}
}

.green-text{
	color:green !important;
}

.red-text{
	color:red !important;
}

.cursor-pointer{
    cursor:pointer;
}