@import "mixins";
@import "variables";

section{
    padding: 60px 0;
}

.clear {
    .clearfix;
 }
 .hide{
    display:none;
 }
h5{
    font-size: 1.10rem;
    font-weight:500;
}
p{
	font-size:14px;
	margin-bottom:0rem;
}

.form-group{
	&.small-width{
		max-width:140px;
		float:left;
		margin-right:20px;
	}
}

.green-text{
	color:green !important;
}

.red-text{
	color:red !important;
}
.text-color-main{
    color: @main-color;
}
.text-color-main-dark{
    color: @main-color-dark;
}


.text-bold{
    font-weight:bold;
}

.cursor-pointer{
    cursor:pointer;
}


.rotate { /* Add this as a mixin !! */

    /* Safari */
    -webkit-transform: rotate(-45deg);
    
    /* Firefox */
    -moz-transform: rotate(-45deg);
    
    /* IE */
    -ms-transform: rotate(-45deg);
    
    /* Opera */
    -o-transform: rotate(-45deg);
    
    

}
.card-body{
    padding: 1.0rem;
}

label.error{
    color: #dc3545;
    font-size:12px;
    margin-top:3px;
}

footer.main-footer {
    padding: 50px 0 0;
    overflow-x: hidden;
}

footer.main-footer .copyrights {
     margin-top: 0px; 
}