/*//test*/
/*---------------------------------------------------
LESS Elements 0.9
---------------------------------------------------
A set of useful LESS mixins
More info at: http://lesselements.com
---------------------------------------------------*/
.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.clearfix,
.clear {
  display: block;
  zoom: 1;
}
.clearfix:after,
.clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*
    USAGE: allows for hex color to convert to RGBA, mainly used to have TEXT opacity 100% with a opaque background behind it.
.rgbaColorIn(#b1b1b1, 50%);
     background-color: @result;
*/
