@import "../mixins";

.prediction-choices-container{
    .clear;
    a{
        color: #212534; 
        display:inline-block;
        width:160px;
        height:160px;
         float:left;
         margin:0 20px 20px 0;
         &:hover{
             text-decoration: none;
         }

    }
    .prediction-choice{
        width:100%;
        height:100%;
            padding: 20px 5px 5px 5px;
         text-decoration: none;
        background:#eaeaea;
        cursor:pointer;
        border-radius: 10px;
        text-align:center;
    }
    
    .text-large{
        font-size: 30px;
    }
}


 @media (max-width: 575.98px) { 
    .prediction-choices-container{
       a{
        width:100%;
        height: 114px;
         margin:0 0px 10px 0;
       }  
       .prediction-choice{
            background:#eaeaea;
            padding: 14px 5px 5px;
            cursor:pointer;
            height: 114px;
            border-radius: 10px;
            text-align:center;
            float:left;
           
        }
        .clear;
        .text-large{
            font-size: 26px;
        }
    }
}