@import "../mixins";
/*** PAGE SPECIFIC ***/
.profile-img-rounded {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
/* We are designing mobile first than extending out to desktop */
/* surrounds the profile image rounded div*/
.profile-img-cont {
  padding:10px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #ddd;
}

/* container around all of the info cells */
.card-container {
  width: 100%;
}
/* container around the info cells */
.user-profile-card {
  text-align: center;
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  .card-body{
    min-height:92px;
  }
}

.user-profile-card .card-title {
  margin-bottom: 6px;
}

.user-profile-card .card-text {
  font-size: 30px;
  line-height: 30px;
}
/* standard look of the card */
.user-profile-cont .user-profile-card {}
/****** Date Conainer *********/
.color-coded {
  height: 25px;
  text-align: center;
}

a.date-box-container {
  color: #212529;
  display: inline-block;
  width: 88px;
  float: left;
  border: 1px solid #ccc;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #212529;
  }

  .date-container {
    font-size: 12px;
    //height: 38px;
      padding:5px;
  }

  .bg-success {
    background: #a4d2ae !important;
  }

  .bg-danger {
    background: #e0aaaf !important;
  }

  .results-container {
    color:#000;
    padding: 1px 3px 1px 4px;
    &.success {
      background: #28a745;
    }

    &.failed {
      background: #e6616e;
    }
  }
  .days-text{
    font-size: 12px;
    display:inline-block;
    margin-right:3px;
  }
  .percent-text{
    font-size: 12px;
    display:inline-block;
    margin-left:3px;
  }
}

i {
  color: #000;

  &.up {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
  }

  &.down {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
  }
}

.date-container .rotate {
  margin-top: 17px;
}
@media (min-width: 576px) {
  .user-profile-card {
    width: 50%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .user-profile-card {
    width: 25%;
  }
}
