@import "../mixins";
@import "../variables";

.rank-header-container{
  margin-top:20px;
  font-size: 13px;
  background:#525252;
  .clear();
  .cell{
    float:left;
    padding:10px 6px;

    color:#fff;
  }
}
.cell{
  //border-right:1px solid #ccc;
  display:inline-block;

}
.ranks-container{
  display: flex;
  .clear();
  border-top:1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
  &:last-child{
    border-bottom:1px solid #ccc;
  }

  .rank-title{
    min-width:42px;
    display:inline-block;
    padding:7px;
    text-align:center;
  }
  .picture-container{
    img{
      width: 60px;
    }
  }
  .crypto-score-title{
    display:inline-block;
    min-width:83px;
    padding:7px;
    //background:red;
    text-align:center;

  }
  .profile-info{
    padding:7px;
    //background:blue;

  }
}
